.app {
  display: flex;
  height: 135vh;
  background-color: #1c1c1c;
  color: white;
  padding: 30px;
  box-sizing: border-box;
}

.left-empty {
  flex: 1;
}

.right-widgets {
  width: 620px;
}
.divider {
  margin-top: 20px;
  height: 4px;
  background: #393939;
  border-color: black;
  border-radius: 5px;
  box-shadow: 5px 5px 10px black;
}

